# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
venv/

# files
.env

# SQLite DB & 저널 파일
*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite-journal
*.db-shm
*.db-wal

# YOLO Model
models/*.pt

# Local runtime data
instance/
storage/

# Python caches
__pycache__/
.pytest_cache/
