.register-root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f8f8fa;
}

.register-box {
  background: #050f24;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 320px;
  text-align: center;
}

.register-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.register-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
  outline: none;
}

.register-btn {
  width: 100%;
  padding: 12px;
  background: #65c7d4;;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin-top: 12px;
  cursor: pointer;
  font-weight: bold;
}

.register-btn:hover {
  background: #7cd8e4;
}

